mitmproxy==9.0.1
playwright==1.29.1
torch==2.2.1
requests
numpy==1.26.4
pillow
--find-links https://github.com/shinkuan/Akagi/releases/expanded_assets/v0.1.1-libriichi
riichi>=0.1.1
tkhtmlview
pyinstaller

